hr {
    height: 5px;
    margin-bottom: 0;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#nacrt {
    border: solid 1px black !important;
}

.destinacija {
    width: 100%;
}

.destinacija button {
    width: auto;
    margin-bottom: 5px;
}

i.fa-solid,
i.fa-regular {
    padding-right: 10px;
}

#predlog {
    text-decoration: underline;
}

.fa-earth-europe,
.fa-signal {
    padding-left: 5px;
}

.fa-pen-to-square,
.fa-book {
    padding-right: 5px !important;
}

.input-group-text i.fa-solid {
    padding-right: 0px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4,
form {
    display: inline;
}

.navbar {
    padding: 2px;
}

option {
    font-family: monospace;
}

.odmik {
    padding: 6px !important;
}

#PhoneValidate {
    padding-left: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
}